#header-wrapper {
    padding: 2em 0 2em 0;
}

#footer-wrapper {
    position: unset;
}

#nav > ul {
    margin: 0;
}

#nav > ul > li {
    display: inline-block;
    font-style: none;
    margin: 0 0.35em 0 0.35em;
}

#copyright {
    margin: 0em 0 0em 0;
}


/* Nav */

#navMobile {
    display: none;
}

#nav > ul {
    margin: 0;
    font-weight: 800;
    font-size: 1.2em;
}

    #nav > ul > li {
        display: inline-block;
        font-style: normal;
        margin: 0 1em 0 1em;
    }


        #nav > ul > li:hover > a, #nav > ul > li.active > a {
            background: #ededed;
            color: black;
        }


    #nav > ul > li {
        display: inline-block;
        font-style: normal;
        margin: 0 1em 0 1em;
    }


        #nav > ul > li:hover > a, #nav > ul > li.active > a {
            background: #ededed;
            color: black;
        }

        #nav > ul > li.current > a {
            border: 3px solid black;
            background: #fff;
            color: black !important;
            font-weight: 800;
        }


#banner {
    margin: 2.5em 0 0 0;
}

#banner h5 {
    color: white;
    font-size: 1.5em;
}

#nav > ul {
    margin: 3em 0 0 0;
}

section#searchMarket {
    margin-top: 4em;
    margin-bottom: 0;
}

section#searchMarketHome {
    margin-top: 3em;
    margin-bottom: 0;
}

section#searchMarketHome .search-container {
    pointer-events: auto;
    opacity: 1;
}

section#search {
    margin-bottom: 1.75em;
}


#search1{
    margin-right: 1em;
    display: block;
    border-color: black;
}

#searchBuypage{
    margin-right: 1em;
    display: block;
    border-color: black;
}

#search1MyPosts{
    display: block;
    border-color: black;
}

#search1CurrentBids{
    display: block;
    border-color: black;
}

#search2{
    margin-left: .5em;
    display: block;
    float: right;
    margin-bottom: 0;
    margin-left: 0;
    line-height: inherit;
}

.searchForm {
    display: flex;
    flex-direction: row;
}


#intro .middle {
    position: relative;
    z-index: 0;
}





/* Full-width input fields */
.modal input[type=text], .modal input[type=password] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #4d4d4d;
    box-sizing: border-box;
}


.modal button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
    visibility: visible;
}

.container.show {
    padding: 16px;
    visibility: visible;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 0 auto 0 auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
}

.modal-content2 {
    background-color: #fefefe;
    margin: 0 auto 0 auto; /* 5% from the top, 15% from the bottom and centered */
    border: 0;
    width: 100%; /* Could be more or less, depending on screen size */
    height: 100%;
}

.modal-content2 h1 {
    font-size: 3em;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}


#search-icon {
    font-size: 1.5em;
}


.modal form label {
    margin: 1.5em 0 0 0;
}

.modal button {
    margin-top: 1em;
    margin-bottom: 1em;
}

#main.wrapper{
    text-align: center;
}

#login{
    display: inline;
}

#createaccount2{
    display: inline;
}

#socialLogin{
    margin: 1.5em 0 0 0;
    width: 70%;
}

h2#socialLogin{
    text-align: center;
}

#noAccount{
    margin: 1.5em 0 .5em 0;
}

#createAccount{
    margin: 0.5em 0 0.5em 0;
}

#createAccountButton{
    font-size: 1.1em;
}

#searchHome {
    display: inline-block;
    width: 100%;
    max-width: 500px;
}

#banner {
    background: #1F1C1C url("../../images/banner.jpg");
    background-position: center center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    text-align: center;
}

#banner header p {
    color: #fff;
}


input[type="button"], input[type="submit"], input[type="reset"], button, .button {
    background: #0a7e07;
}

input[type="button"]:hover,
		input[type="submit"]:hover,
		input[type="reset"]:hover,
		button:hover,
		.button:hover {
			background: #53A451;
}

		input[type="button"]:active,
		input[type="submit"]:active,
		input[type="reset"]:active,
		button:active,
		.button:active {
			background: #53A451;
}


input#search1:focus{
    outline: none;
    box-shadow: 0 0 10px #000;
    border: 1px solid #0a7e07;
    font-weight: bold;
}

input#search1MyPosts:focus{
    outline: none;
    box-shadow: 0 0 10px #000;
    border: 1px solid #0a7e07;
    font-weight: bold;
}

input#search1CurrentBids:focus{
    outline: none;
    box-shadow: 0 0 10px #000;
    border: 1px solid #0a7e07;
    font-weight: bold;
}

input#searchBuypage:focus{
    outline: none;
    box-shadow: 0 0 10px #000;
    border: 1px solid #0a7e07;
    font-weight: bold;
}

input#searchBuypageMyPosts:focus{
    outline: none;
    box-shadow: 0 0 10px #000;
    border: 1px solid #0a7e07;
    font-weight: bold;
}

input#searchBuypageCurrentBids:focus{
    outline: none;
    box-shadow: 0 0 10px #000;
    border: 1px solid #0a7e07;
    font-weight: bold;
}

.icon {
    position: static;
}

.icon.featured{
    background-color: #0a7e07; 
}

.icon.featured:after{
    border-top: solid 2em #0a7e07;
}

.filter {
    padding: 0 1em 0 2em;
}

.post {
    padding: 0 0 1.5em 1.5em;
    background-color: white;
    background-clip: content-box;
    border: 1px solid transparent;
    display: inline-block;
    width: 33%;
}

.postHome {
    padding: 0 0 1.5em 1.5em;
    background-color: white;
    background-clip: content-box;
    border: 1px solid transparent;
    display: inline-block;
}

.post-container:hover {
    outline-offset: -2px;   
    outline: solid .25em #4d4d4d; 
}

.buyContent{
    width: 100%;
}

.filter2{
    width:25%;
    padding-top: 0px;
}

.filter2 .box {
    padding: .5em 0 0 0;
}

.filter2 div.border {
    border: 1px solid #4d4d4d;
}

.post2{
    width:75%;
    padding: 0px;
}

.pageLoader{
    padding: 0px;
    background-color: white; 
    width: 73%; 
    border: 1px solid black; 
    margin-left: 2%; 
    padding: 1em 1em 1em 1em; 
    text-align: center;
}

.postsHome{
    width:100%;
    padding: 0px;
}

.sellImagesform{
   margin-bottom: 3em 0 2em 0; 
}

input#myRange.slider{
    width: 100%;

}

  .post-container{
      border: solid 1px #ccc;
  }
  .box{
      border: 0;
  }

  .box .image.featured{
      margin: -4.5em 0 2.5em -3.5em;
  }

  .image.featured{
      margin: 0 0 0 0;
  }

  h3 .image.featured{
      padding-left: 1em;
  }

  #main-wrapper{
      padding: 1em 0 1.5em 0;
  }


  .search-container{
    margin-top: 0;
    margin-bottom: 1.5em;
    pointer-events: none;
    opacity: .50;
  }

  .search-container button{
    margin-right: 1em;
  }

  .dropdown-container{
    margin-top: 0;
    margin-bottom: 1.5em;  
    pointer-events: none;
    opacity: .50;
  }

  .dropdown-container form{
    margin-left: 0em; 
  }

  .filter2 div.border {
    pointer-events: none;
    opacity: .50;
  }

  #filterResults p {
    font-size: 1.5em;
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: .5em;
  }

  .resultsHome {
      padding: 0;
  }

.custom-select {
    border: 1px solid #4d4d4d;
    border-radius: 3px;
    overflow: hidden;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat 90% #fff;
    width: 100%;
}


.custom-select select {
    width: 100%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
}

.custom-select:active {
    outline: none;
    box-shadow: 0 0 10px #000;
    border: 1px solid #0a7e07;
    font-weight: bold;
}

.box.post-content{
    padding: .5em .75em 0 .75em;
}

.post-info {
    margin-bottom: .5em;
}

.post-info p{
    font-size: 1.2em;
    margin: 0 1em .25em 1em;
    font-weight: 500;
}

.post-info h3{
    margin-bottom: 0em;
}

.post footer span{
    font-weight: 500;
}

.post footer {
    margin-top: 0;
}

.post footer p {
    font-size: .8em;
     margin-bottom: 0; 
}

.post-info hr{
    margin: .5em 0 .5em 0;
    border-top: solid 1px #C6C6C6;
}

.homeposts {
    padding-top: 2em;
    margin: 0;
}


header.major {
    margin-bottom: 0;
}

header.major2 {
    font-weight: 500;
}


.homeposts .post{
    padding: 0 1em 0 1em;
}

.actions.bottom{
    margin-bottom: 0;
    text-align: center;
}

header#tabs {
    margin-bottom: 0;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 1em;
    text-align: left;
}

header#accountTitle {
    margin-bottom: 0;
    padding-top: 1em;
    padding-bottom: 0;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 1em;
    text-align: center;
    background-color: white;
}

header#accountTitle h3{
    font-size: 2em;
}

header#tabs button {
    width: 20%;
    margin: 0 1em 0 0;
    background-color: white;
    color: black !important;
    border-radius: 0;
    border: 1px solid #4d4d4d;
    border-bottom: 1px solid white;
    transform:translateY(1px);
}

header#tabs button:hover {
    background-color: white;
    opacity: 1;
}

header#tabs button.exit {
    border-bottom: 1px solid white;
    float: right;
    margin-right: 0;
    width: 10%;
    text-align: center;
}

#Login .container {
    padding: 0;
    border-right: 1px solid #4d4d4d;
}

#SignUp .container {
    padding: 0;
    border-right: 0px solid white;
}

#accountCreate{
    margin-bottom: 1em;
}

#accountLogin{
    width: 50%;
}

.config {
    border: 1px solid #f2f2f2;
    margin-bottom: 30px;
    line-height: 1.7em;
}
.config table {
    border-collapse: collapse;
    width: 100%;
}
.config table td {
    padding: 10px;
    border-bottom: 1px solid #f2f2f2;
}
.config table tr:nth-child(even) td {
    background-color: #f9f9f9;
}

#toTopButton {
    position: fixed;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #0a7e07;
    border: 1px solid #064B04;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #toTopButton:hover {
    background-color: #53A451;
  }


  #btn-close-modal {
    z-index: 999999;
    width:100%;
    text-align: center;
    cursor:pointer;
    color:#fff;
    position: sticky;
    top: 0px;
}


#demo01 {
    color: black;
    text-decoration: none;
}

.dropdown-container.mobile {
    display: none;
  }


/* The Modal (background) */
.modalPost {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-contentPost {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/*Slider Content */
.rs-container { 
    border: 0;
    height: 30px;
}


.rs-container .rs-scale { 
    width: 200%;
    border: 0;
}

.rs-tooltip {
    padding: 0 3px 3px 3px;
    min-width: 40px;
}

.slider1 {
    width: 85%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 10px;
}

.rs-container .rs-selected {
    background-color: #0a7e07;
    border: 1px solid #064B04;
}

.rs-pointer {
    left: 85%;
}

/* The Close Button */
.closePost {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closePost:hover,
.closePost:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

a.postModal {
        color: black;
        text-decoration: none;
}


.row #postcontentTop {
    margin: 0;
}   

#btn-close-modal{
    padding: .25em 0 .25em 0;
    background-color: #53A451;
    border-bottom: solid 5px #50814F;
}

#btn-close-modal:hover{   
    background-color: #0a7e07;
    border-bottom: solid 5px #064B04;
}

.results2 {
    margin: 0 2em 2em 2em;
    background-color: white;
}

.filterItem:hover {
    background-color: rgba(0, 0, 0, 0.05);
    font-weight: bold;
    cursor: pointer;
}

.filterItem{
    padding: 0 1em 0 1em;
    font-weight: 500;
}

.filterItem input[type="checkbox"] {
    cursor: pointer;
}

.filterItemSlider {
    padding: 0 1em 0 1em;
}

.filterItemSlider:hover {
    font-weight: bold;
    cursor: pointer;
}

.filterTitle {
    text-decoration: underline;
    padding: 0 0 .25em .75em;
}

.modal-content2 .row div.pad{
    margin: 30px 0 0 50px;
    padding: 0;

}
  

.gallery {
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.pics {
    float: right;
    background: white;   
}

.postInfo {
    float: left;
}

.thumbs {
    float: left;
    width: 15%;
    margin-right: 3%;
}
.preview {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.preview img {
        max-width: 100%;
        max-height: 100%;
}

.preview:last-child {
    margin-bottom: 0;
}

.full, .full img {
        width: 82%;
}

.backImages {
    background: gray;
}

.backImages:hover {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background: gray;
    opacity: 70%;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.shortPad {
    padding-top: 1.5em;
    padding-left: 0;
}
.shortPad2 {
    padding-top: 1.5em;
    padding-right: 0;
}

.postTitle {
    margin: 0 0 0 0;
    line-height: 90%;
    font-size: 3em;
}

h4.postDetails {
   font-size: 1.5em;  
}

.postInfo p {
    margin-bottom: .75em;
}

.bidInfo {
    border-radius: 5px;
    background-color: whitesmoke;
    -moz-box-shadow: 0 0 1px #000;
    -webkit-box-shadow: 0 0 1px #000;
    box-shadow: 0 0 1px #000;
}

.bidInfo p {
    padding: 15px 15px 15px 15px;
    font-weight: 500;
    font-size: 1.25em;
    margin-bottom: 0;
}

.currencyinput {
    border: 1px inset #fff;
}
.currencyinput input {
    border: 0;
}

.social {
    margin-bottom: 0;
    height: auto;
}

.pics p {
    margin: .5em 0 .5em 0;
    font-size: 1em;
}

.thumbs img {
    border: 1px solid black;
}

.thumbs  img {
    border: 1px solid black;
}

.thumbs .selected img {
    border: 4px solid #00FFFF;
    -moz-box-shadow: 0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
}

.saveText {
    cursor: pointer;
}

.save.red{ 
    color: #B23535; 
}

.questionLike {
    cursor: pointer;
}

.question.like{ 
    color: #3454B4; 
}


.simpleLens-mouse-cursor{
	background-color:#CCC;
	opacity:0.4;
	filter: alpha(opacity = 20);
	position:absolute;
	top:0;
	left:0;
	border:1px solid #999;
	box-shadow:0 0 2px 2px #999;
	cursor:crosshair;
}

.simpleLens-lens-element {
    background-color: #FFFFFF;
    box-shadow: 0 0 2px 2px #8E8E8E;
    width: 500px;
    height: 500px;
    left: 105%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 9999;
    text-align: center;
}

.simpleLens-big-image-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
	position:relative;
    height: auto !important;
}

.simpleLens-lens-image {
    height: auto !important;
    display: inline-block;
    text-align: center;
    margin:0;
    box-shadow:none;
    float:none;
    position:relative;
}

.simpleLens-lens-image img {
    width: 100%;
}
.simpleLens-big-image-container img {
    width: 100%;
}

.simpleLens-thumbnails-container a img {
    width: 100%;
    border: 1px solid black;
}

.simpleLens-big-image-container a {
    width: 100%;
}

.simpleLens-container {
    width: 100%;
}

.noPad{
    padding: 0;
}

.simpleLens-thumbnails-container a.selected {
    outline: 5px solid #00FFFF;
}


#textarea_feedback {
    padding-left: 1em;
    display: inline-block;
}


.switch-field {
    text-align: center;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}



.switch-field label {
  display: inline-block;
  width: 60px;
  height: auto;
  background-color: white;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #6CB16A;
  -webkit-box-shadow: none;
  color: black;
  font-weight: 600;
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}

.switch-field2 {
    text-align: left;
}

.switch-field2 input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}



.switch-field2 label {
  display: inline-block;
  width: 60px;
  height: auto;
  background-color: white;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.switch-field2 label:hover {
    cursor: pointer;
}

.switch-field2 input:checked + label {
  background-color: #6CB16A;
  -webkit-box-shadow: none;
  color: black;
  font-weight: 600;
  box-shadow: none;
}

.switch-field2 label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field2 label:last-of-type {
  border-radius: 0 4px 4px 0;
}

.switch-field3 {
    text-align: left;
}

.switch-field3 input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}



.switch-field3 label {
  display: inline-block;
  width: 60px;
  height: auto;
  background-color: white;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.switch-field3 label:hover {
    cursor: pointer;
}

.switch-field3 input:checked + label {
  background-color: #6CB16A;
  -webkit-box-shadow: none;
  color: black;
  font-weight: 600;
  box-shadow: none;
}

.switch-field3 label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field3 label:last-of-type {
  border-radius: 0 4px 4px 0;
}

.sellTitle {
    padding: 1.5em 4em 1.5em 1em;
}

.sellCategory {
    padding: 1.5em 1em 1.5em 1em;
}

.sellDescription {
    padding: 1.5em 1em 0em 1em;
}

.sellAccessorySize {
    padding: 1.5em 4em 1.5em 10em;
}

.sellAccessoryColor {
    padding: 1.5em 10em 1.5em 4em;
}

.sellMinBid {
    padding: 2em 4em 2.5em 10em;
}

.sellBuyitnow {
    padding: 2em 10em 2.5em 4em;
}

.sellNewused {
    padding: 1.5em 3em 1.5em 3em;
}
.sellQuality {
    padding: 1.5em 3em 1.5em 3em;
}
.sellBrand {
    padding: 1.5em 3em 1.5em 3em;
}

.discWeight {
    padding: 1.5em 3em 1.5em 3em;
}

.discPlastic {
    padding: 1.5em 3em 1.5em 3em;
}

.discColor {
    padding: 1.5em 3em 1.5em 3em;
}
.discName {
    padding: 1.5em 4em 1.5em 10em;
}
.discInk {
    padding: 1.5em 10em 1.5em 4em;
}
.bagColor {
    padding: 1.5em 3em 1.5em 3em;
}
.bagModel {
    padding: 1.5em 3em 1.5em 3em;
}
.bagCapacity {
    padding: 1.5em 3em 1.5em 3em;
}
.apparelSize {
    padding: 1.5em 3em 1.5em 3em;
}
.apparelColor {
    padding: 1.5em 3em 1.5em 3em;
}
.apparelMaterial {
    padding: 1.5em 3em 1.5em 3em;
}
.basketModel {
    padding: 1.5em 3em 1.5em 3em;
}
.basketChains {
    padding: 1.5em 3em 1.5em 3em;
}
.basketColor {
    padding: 1.5em 3em 1.5em 3em;
}
.shoeSize {
    padding: 1.5em 3em 1.5em 3em;
}
.shoeColor {
    padding: 1.5em 3em 1.5em 3em;
}
.shoeGender {
    padding: 1.5em 3em 1.5em 3em;
}

#otherBrand {
    padding-top: 0;
    padding-left: 35%;
    padding-right: 35%;
    display: none;
}

.formError {
    margin-bottom: 0; 
    color: red; 
    display: none;
}


.nextImages {
    padding: 1em 0 1em 0;
}
.sellReset {
    padding: 1em 0 1em 0;
    padding-left: 1em;
}

#imageModalContainer-one {
    z-index: 99999;
    max-width: none;
    padding: 0;
    background-color: white;
}

#imageModalContainer-two {
    z-index: 99999;
    max-width: none;
    padding: 0;
    background-color: white;
}

.modal-dialog {
    margin: 0 auto;
}

.modal-footer {
    text-align: center;
}

.modal-title {
    margin: 1em;
}

.quality {
    text-align: center;
}

.filterButton {
   margin-left: 1.5em; 
   margin-top: 50px;
}

#brandsButton {
    background-color: white;
    border: 2px solid #0a7e07;
    margin-right: .5em;
    margin-bottom: .75em;
}

#brandsButton span {
    color: #0a7e07;
}

#brandsButton:hover {
    border: 2px solid #E50000;
}

#brandsButton:hover > span {
    color: #E50000;
}

#categoriesButton {
    background-color: white;
    border: 2px solid #0a7e07;
    margin-right: .5em;
    margin-bottom: .75em;
}

#categoriesButton span {
    color: #0a7e07;
}

#categoriesButton:hover {
    border: 2px solid #E50000;
}

#categoriesButton:hover > span {
    color: #E50000;
}

#discTypeButton {
    background-color: white;
    border: 2px solid #0a7e07;
    margin-right: .5em;
    margin-bottom: .75em;
}

#discTypeButton span {
    color: #0a7e07;
}

#discTypeButton:hover {
    border: 2px solid #E50000;
}

#discTypeButton:hover > span {
    color: #E50000;
}

#newUsedButton {
    background-color: white;
    border: 2px solid #0a7e07;
    margin-right: .5em;
    margin-bottom: .75em;
}

#newUsedButton span {
    color: #0a7e07;
}

#newUsedButton:hover {
    border: 2px solid #E50000;
}

#newUsedButton:hover > span {
    color: #E50000;
}

#priceButton {
    background-color: white;
    border: 2px solid #0a7e07;
    margin-right: .5em;
    margin-bottom: .75em;
}

#priceButton span {
    color: #0a7e07;
}

#priceButton:hover {
    border: 2px solid #E50000;
}

#priceButton:hover > span {
    color: #E50000;
}


#weightButton {
    background-color: white;
    border: 2px solid #0a7e07;
    margin-right: .5em;
    margin-bottom: .75em;
}

#weightButton span {
    color: #0a7e07;
}

#weightButton:hover {
    border: 2px solid #E50000;
}

#weightButton:hover > span {
    color: #E50000;
}

#qualityButton {
    background-color: white;
    border: 2px solid #0a7e07;
    margin-right: .5em;
    margin-bottom: .75em;
}

#qualityButton span {
    color: #0a7e07;
}

#qualityButton:hover {
    border: 2px solid #E50000;
}

#qualityButton:hover > span {
    color: #E50000;
}

#partialButton {
    background-color: white;
    border: 2px solid #0a7e07;
    margin-right: .5em;
    margin-bottom: .75em;
    display: none;
}

#partialButton span {
    color: #0a7e07;
}

#partialButton:hover {
    border: 2px solid #E50000;
}

#partialButton:hover > span {
    color: #E50000;
}

.custom-select select {
    font-weight: 600;
}


.title h3 {
    height: 3.8rem; 
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


#drop {
    position: absolute;
    padding: 0 0 0 0;
    display:none; /* Hide it first of all */
    background:white;
    border:2px solid #000;
    -moz-box-shadow: 0 0 5px black;
    -webkit-box-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;
    margin-top: 3em;
    margin-left: 20%;
    width: 25%;
    max-width: 350px;
}


#drop p{
    font-size: 1em;
    padding: .25em .75em .25em .75em;
}

#drop h3{
    padding: .25em .5em 0 .5em;
    text-decoration: underline;
}

#drop h3 .boldBid{
    font-weight: 600;
}



.dropzone {
    text-align: center;
    font-size: 18px;
  }
  
  .glyphicon-download {
    font-size: 1.5em;
  }
  
  #DropZoneFiddle {
    cursor: pointer;
    border: 1px solid #000;
    padding: 30px 0;
    text-align: center;
  }

.dropzone .dz-preview {
    width: 20%;
}

.dz-image img {
    width: 100%;
}

.dropzone span {
    text-align: center;
}

.slider {
    width: 100%;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .dropdownMenu a{
      color: white;
  }

.dropdownMenu li:hover > a{
    font-size: 1.1em;
    text-decoration: underline;
}

.ink{
    padding-left: 1em;
    text-decoration: none;
}

.postsLoaderContainer {
    height: 15em;
    display: block;
}

.postsLoader {
    display: none;
    margin-left: 45%;
    width: 8em;
    height: 8em;
    background: url('../../images/loader.png') center no-repeat;
    background-size:50%;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {  
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


.moreHR {
    margin-top: .5em;
    margin-bottom: .5em;
}

header.major {
    margin-bottom: 4em;
}



.dimmer {
    display: none;
    background: #000;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.dimmer2 {
    display: none;
    background: #000;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.loginDiv {
    display: none;
    width: 30em;
    height: 32em;
    background-color: white;
    border: solid 3px #0a7e07;

    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 101;
    margin: auto;

    -moz-box-shadow: 0 0 10px 1px #000;
    -webkit-box-shadow: 0 0 10px 1px #000;
    
}



.form-wrap {
    background-color: #fff;
    width: 100%;
    height: 100%;}
    .form-wrap .tabs-content {
      overflow: hidden; }
      .form-wrap .tabs h3 {
        float: left;
        width: 50%; }
        .form-wrap .tabs h3 a {
          padding: 0.5em 0;
          text-align: center;
          font-weight: 400;
          background-color: #e6e7e8;
          display: block;
          color: #666; }
          .form-wrap .tabs h3 a.active {
            background-color: #fff; }
    .form-wrap .tabs-content {
      padding: 1.5em; }
      .form-wrap .tabs-content div[id$="tab-content"] {
        display: none; }
      .form-wrap .tabs-content .active {
        display: block !important; }
    .form-wrap form .input {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      color: inherit;
      font-family: inherit;
      outline: 0;
      display: inline-block;
      margin-bottom: 1em;
      width: 100%; }
    .form-wrap form .button {
      width: 100%;
      padding: .8em 0 10px .8em;
      background-color: #28A55F;
      border: none;
      color: #fff;
      cursor: pointer;
      text-transform: uppercase; }
      .form-wrap form .button:hover {
        background-color: #4FDA8C; }
    .form-wrap form .checkbox {
      visibility: hidden;
      padding: 20px;
      margin: .5em 0 1.5em; }
      .form-wrap form .checkbox:checked + label:after {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1; }
    .form-wrap form label[for] {
      position: relative;
      padding-left: 20px;
      cursor: pointer; }
      .form-wrap form label[for]:before {
        content: '';
        position: absolute;
        border: 1px solid #CFCFCF;
        width: 17px;
        height: 17px;
        top: 0px;
        left: -14px; }
      .form-wrap form label[for]:after {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        content: '';
        position: absolute;
        width: 9px;
        height: 5px;
        background-color: transparent;
        top: 4px;
        left: -10px;
        border: 3px solid #28A55F;
        border-top: none;
        border-right: none;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }
    .form-wrap .help-text {
      margin-top: .6em; }
    .form-wrap .help-text p {
        text-align: center;
        font-size: 14px; 
        margin-bottom: 0;
    }
  

    .login-form {
        display: block;
    }

    .login-form label {
        display: inline;
    }

    .signup-form {
        display: block;
    }

    .forgotPassword {
        display: none;
        width: 30em;
        height: 32em;
        background-color: white;
        border: solid 3px #0a7e07;

        position: fixed;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;

        z-index: 102;
        margin: auto;

        -moz-box-shadow: 0 0 10px 1px #000;
        -webkit-box-shadow: 0 0 10px 1px #000;
    }

    .forgotPassword h3 {
        margin-top: 2em;
    }

    input.exitForgotPassword {
        color: black;
        background: white;
    }

    .newAccount {
        display: none;
        width: 30em;
        height: 32em;
        background-color: white;
        border: solid 3px #0a7e07;

        position: fixed;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;

        z-index: 102;
        margin: auto;

        -moz-box-shadow: 0 0 10px 1px #000;
        -webkit-box-shadow: 0 0 10px 1px #000;

        text-align: center;
        display: flex;
        flex-direction: column;
    }

    input.exitNewAccount {
        color: black;
        background: white;
    }

    .forgot-password-form {
        display: block;
        margin-top: 2em;
        margin-left: 2em;
        margin-right: 2em;
        margin-bottom: 1em;
    }


    .termsOfService {
        display: none;
        width: 30em;
        height: 32em;
        background-color: white;
        border: solid 3px #0a7e07;

        position: fixed;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;

        z-index: 102;
        margin: auto;

        -moz-box-shadow: 0 0 10px 1px #000;
        -webkit-box-shadow: 0 0 10px 1px #000;
    }

    .termsOfService h3 {
        margin-top: 2em;
    }

    input.exitTermsOfService {
        color: black;
        background: white;
    }



    [class*='close-'] {
        color: #333;
        font: 1.5em arial, sans-serif;
        position: absolute;
        right: 10px;
        text-decoration: none;
        text-shadow: 0 1px 0 #999;
        top:5px
      }
      
      .close-thik:after {
        content: '✖'; /* UTF-8 symbol */
      }

      .close-thik:hover {
        color: red;
      }

      .close-thik2:after {
        content: '✖'; /* UTF-8 symbol */
      }

      .close-thik2:hover {
        color: red;
      }

      .close-thik3:after {
        content: '✖'; /* UTF-8 symbol */
        text-decoration: none;
      }

      .close-thik3:hover {
        color: red;
      }

      .close-thik4:after {
        content: '✖'; /* UTF-8 symbol */
        text-decoration: none;
      }

      .close-thik4:hover {
        color: red;
      }

      .termsOfService {
          overflow: auto;
      }

    .termsOfService h3 {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .termsOfService p {
        text-align: left;
        margin-left: 1em;
        margin-right: 1em;
    }

    .terms2 {
        margin-bottom: 1em;
    }
      
      .termsOfService {
          overflow: auto;
      }

    .termsOfService h3 {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .termsOfService p {
        text-align: left;
        margin-left: 1em;
        margin-right: 1em;
    }

    .terms2 {
        margin-bottom: 1em;
    }
      


    .filterPopup {
        display: none;
        width: 100%;
        height: 100%;
        background-color: white;
        border: solid 3px #0a7e07;
        text-align: center;
        position: fixed;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;

        z-index: 102;
        margin: auto;

        -moz-box-shadow: 0 0 10px 1px #000;
        -webkit-box-shadow: 0 0 10px 1px #000;
    }

    .filterPopup h3 {
        margin-top: 2em;
    }

    input.exitTermsOfService {
        color: black;
        background: white;
    }
    .filterPopup {
        overflow: auto;
    }

  .filterPopup h3 {
      margin-top: 1em;
      margin-bottom: 1em;
  }

  .filterPopup p {
      text-align: left;
      margin-left: 1em;
      margin-right: 1em;
  }

  .filterButtonMobile2 {
      margin-bottom: 1em;
      padding-left: 2em;
      padding-right: 2em;
  }
    

  #results {
    margin-top: 50px;
  }

  .filterButtonStyle {
      padding-left: 0;
      padding-top: 0;
  }

  #filterResults {
    margin-left: 0;
  }

    
      input#remember_me.checkbox {
          margin: 0;
      }

      .hr-sect {
        display: flex;
        flex-basis: 100%;
        align-items: center;
        color: rgba(0, 0, 0, 0.35);
        margin: 8px 0px;
    }
    .hr-sect::before,
    .hr-sect::after {
        content: "";
        flex-grow: 1;
        background: rgba(0, 0, 0, 0.35);
        height: 1px;
        font-size: 0px;
        line-height: 0px;
        margin: 0px 8px;
    }


    .social-button {
        font-size: .75em;
        font-weight: 500;
        background-position: 25px 0px;
      box-sizing: border-box;
      color: rgb(255, 255, 255);
      cursor: pointer;
      display: inline-block;
      height: 40px;
      line-height: 40px;
      text-align: left;
      text-decoration: none;
      text-transform: uppercase;
      vertical-align: middle;
      width: 100%;
        border-radius: 5px;
      outline: rgb(255, 255, 255) none 0px;
      padding-left: 4em;
      transition: all 0.2s cubic-bezier(0.72, 0.01, 0.56, 1) 0s;
        -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
  }
  
  #facebook-connect {
    border-color: rgb(60, 90, 154);
    background: rgb(60, 90, 154) url('../../images/facebook-whiteLogin.png') no-repeat scroll 5px 0px / 30px 40px padding-box border-box;
  }
  
  #facebook-connect:hover {
    background: rgb(255, 255, 255) url('../../images/facebookLogin.png') no-repeat scroll 5px 0px / 30px 40px padding-box border-box;
    border: 1px solid rgb(60, 90, 154);      
        -webkit-transition: all .8s ease-out;
      -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease-out;
  }
  
  #facebook-connect span {
        box-sizing: border-box;
        color: #FFF;
      cursor: pointer;
      text-align: center;
      text-transform: uppercase;
      border: 0px none rgb(255, 255, 255);
      outline: rgb(255, 255, 255) none 0px;
        -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
  }
  
  #facebook-connect:hover span {
    color: rgb(60, 90, 154);
        -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
  }
  
  #google-connect {
    border-color: rgb(220, 74, 61);
    background: rgb(220, 74, 61) url('../../images/google-plus-whiteLogin.png') no-repeat scroll 5px 0px / 40px 40px padding-box border-box;
  }
  
  #google-connect:hover {
    background: rgb(255, 255, 255) url('../../images/google-plusLogin.png') no-repeat scroll 5px 0px / 40px 40px padding-box border-box;
    border: 1px solid rgb(220, 74, 61);
        -webkit-transition: all .8s ease-out;
      -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease-out;
  }
  
  #google-connect span {
    box-sizing: border-box;
    color: #FFF;
      cursor: pointer;
      text-align: center;
      text-transform: uppercase;
      border: 0px none rgb(220, 74, 61);
      outline: rgb(255, 255, 255) none 0px;
        -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
  }
  
  #google-connect:hover span {      
        color: rgb(220, 74, 61);
        -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
  }


  #twitter-connect {
    border-color: rgb(8, 160, 233);
    background: rgb(8, 160, 233) url('../../images/twitter-whiteLogin.png') no-repeat scroll 5px 0px / 40px 40px padding-box border-box;
  }
  
  #twitter-connect:hover {
    background: rgb(255, 255, 255) url('../../images/twitterlogin.png') no-repeat scroll 5px 0px / 40px 40px padding-box border-box;
    border: 1px solid rgb(8, 160, 233);
        -webkit-transition: all .8s ease-out;
      -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease-out;
  }
  
  #twitter-connect span {
    box-sizing: border-box;
    color: #FFF;
      cursor: pointer;
      text-align: center;
      text-transform: uppercase;
      border: 0px none rgb(8, 160, 233);
      outline: rgb(255, 255, 255) none 0px;
        -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
  }
  
  #twitter-connect:hover span {      
        color: rgb(8, 160, 233);
        -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
  }

  #amazon-connect {
    border-color: rgb(255, 153, 0);
    background: rgb(255, 153, 0) url('../../images/amazon-whiteLogin.png') no-repeat scroll 5px 0px / 40px 40px padding-box border-box;
  }
  
  #amazon-connect:hover {
    background: rgb(255, 255, 255) url('../../images/amazonLogin.png') no-repeat scroll 5px 0px / 40px 40px padding-box border-box;
    border: 1px solid rgb(255, 153, 0);
        -webkit-transition: all .8s ease-out;
      -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease-out;
  }
  
  #amazon-connect span {
    box-sizing: border-box;
    color: #FFF;
      cursor: pointer;
      text-align: center;
      text-transform: uppercase;
      border: 0px none rgb(255, 153, 0);
      outline: rgb(255, 255, 255) none 0px;
        -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
  }
  
  #amazon-connect:hover span {      
        color: rgb(255, 153, 0);
        -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
  }
  
  
  .g-recaptcha div {
      
  }

  .icon-background {
    color: #c0ffc0;
}

.icon-image {
    font-size: 1em;
}

#paypal-icon-image {
    color: #002A7C;
    font-size: .7em;
}

#paypal-icon-image-background {
    color: #002A7C;
    opacity: .2;
}

#exclamation-icon-image {
    color: #D41A17;
    font-size: .7em;
}

#exclamation-icon-image-background {
    color: #D41A17;
    opacity: .2;
}

#handshake-icon-image {
    color: #048F3C;
    font-size: .7em;
}

#handshake-icon-image-background {
    color: #048F3C;
    opacity: .2;
}

.faqChat {
    background-color: white;
    border: 1px solid black;
    margin-top: 1.5em;
    text-align: center;
}

.faqChat h4 {
    padding: 2em;
}

.faqChat a {
    color: #0a7e07;
    text-decoration: underline;
}



#profilePicture {
    height: 7em;
    width: 7em;
    border-radius: 50%;
    border: 2px solid black;
}

#emailPicture {
    height: 8em;
    width: 8em;
    border-radius: 50%;
    border: 4px solid black;
}

.profilePopup {
    margin: 0 20% 0 20%; 
    padding: .35em;
    font-size: 1em;
}

.profilePopup:hover {
    cursor: pointer;
    background-color: #F5F5F5;
    color: #048F3C;
}


@media screen and (min-width: 1200px) {
    .title h3 {
        height: 3.75rem; 
    }
}

@media screen and (min-width: 737px) and (max-width: 1200px) {
    .title h3 {
        height: 3.0rem; 
    }
}


/* MOBILE */
@media screen and (max-width: 736px) {

    #header-wrapper {
        padding: 2em 0 1em 0;
    }
    
    /* Nav */
    
    #navMobile {
        display: block;
        margin: 2em 0 1em 0;
        font-size: 3vw;
    }

    .pageLoader {
        width: 96%;
        margin-left: 5%;
    }

    .pageLoader img{
        width: 100%;
    }

    .post {
        font-size: .75em;
        width: 49.5%;
        padding: 0 0 1.25em 1em;
    }

    .post2 {
        width: 100%;
        margin-left: .4em;
        padding-right: .1em;
    }

    .filter2 {
        display: none;
    }

    .postHome {
        font-size: .75em;
    }

    .content {
        padding: 16px;
      }

    .buyContent {
        padding-bottom: 1.5em;
        padding-top: 1em;
    }

    .posts-info p {
        margin: 0 1em 0 1em;
    }
  
    .filterButton {
        margin-left: 0.8em; 
        margin-top: 0;
     }

     .filterButtonMobile {
        height: 50px;
     }

     .custom-select {
         height: 50px;
     }
     
     #brandsButton {
         background-color: white;
         border: 2px solid #0a7e07;
         width: 100%;
         margin-right: 0;
         margin-bottom: .75em;
     }
     
     #brandsButton span {
         color: #0a7e07;
     }
     
     #brandsButton:hover {
         border: 2px solid #E50000;
     }
     
     #brandsButton:hover > span {
         color: #E50000;
     }
     
     #categoriesButton {
         background-color: white;
         border: 2px solid #0a7e07;
         width: 100%;
         margin-right: 0;
         margin-bottom: .75em;
     }
     
     #categoriesButton span {
         color: #0a7e07;
     }
     
     #categoriesButton:hover {
         border: 2px solid #E50000;
     }
     
     #categoriesButton:hover > span {
         color: #E50000;
     }
     
     #discTypeButton {
         background-color: white;
         border: 2px solid #0a7e07;
         width: 100%;
         margin-right: 0;
         margin-bottom: .75em;
     }
     
     #discTypeButton span {
         color: #0a7e07;
     }
     
     #discTypeButton:hover {
         border: 2px solid #E50000;
     }
     
     #discTypeButton:hover > span {
         color: #E50000;
     }
     
     #newUsedButton {
         background-color: white;
         border: 2px solid #0a7e07;
         width: 100%;
         margin-right: 0;
         margin-bottom: .75em;
     }
     
     #newUsedButton span {
         color: #0a7e07;
     }
     
     #newUsedButton:hover {
         border: 2px solid #E50000;
     }
     
     #newUsedButton:hover > span {
         color: #E50000;
     }
     
     #priceButton {
         background-color: white;
         border: 2px solid #0a7e07;
         width: 100%;
         margin-right: 0;
         margin-bottom: .75em;
     }
     
     #priceButton span {
         color: #0a7e07;
     }
     
     #priceButton:hover {
         border: 2px solid #E50000;
     }
     
     #priceButton:hover > span {
         color: #E50000;
     }
     
     
     #weightButton {
         background-color: white;
         border: 2px solid #0a7e07;
         width: 100%;
         margin-right: 0;
         margin-bottom: .75em;
     }
     
     #weightButton span {
         color: #0a7e07;
     }
     
     #weightButton:hover {
         border: 2px solid #E50000;
     }
     
     #weightButton:hover > span {
         color: #E50000;
     }
     
     #qualityButton {
         background-color: white;
         border: 2px solid #0a7e07;
         width: 100%;
         margin-right: 0;
         margin-bottom: .75em;
     }
     
     #qualityButton span {
         color: #0a7e07;
     }
     
     #qualityButton:hover {
         border: 2px solid #E50000;
     }
     
     #qualityButton:hover > span {
         color: #E50000;
     }
     
     #partialButton {
         background-color: white;
         border: 2px solid #0a7e07;
         width: 100%;
         margin-right: 0;
         margin-bottom: .75em;
         display: none;
     }
     
     #partialButton span {
         color: #0a7e07;
     }
     
     #partialButton:hover {
         border: 2px solid #E50000;
     }
     
     #partialButton:hover > span {
         color: #E50000;
     }
     
     .custom-select select {
         font-weight: 600;
     }

    .filterButtonStyle {
        padding-top: 0;
    }

    .search-container{
        padding-top: .5em;
        margin-top: 0;
        margin-bottom: 0;
      }

      .search-container button {
          margin-right: 0;
          width: 4em;
          margin-top: 0;
          margin-bottom: 0;
      }
    
    .search-container form{
        margin-right: 0em;
    }

    #topFilterDropdown {
        color: #404040;
    }

    .filterButtonMobile {
        background: white;
        color: #404040 !important;
        border: black solid 1px;
        margin-top: 0;
        margin-bottom: 0;
    }

    #filterBox {
        padding-top: 0;
        padding-bottom: 8em;
    }

    .filterPopup {
        border: 0;
        overflow-x:hidden;
    }

    .filterPopup h3 {
        text-decoration: underline;
        margin-top: 0;
        margin-bottom: .75em;
    }

    .filterItem {
        padding-left: 20%;
        padding-right: 20%;
        text-align: left;
        font-size: large;
        margin-bottom: 0.25em;
    }

    .filterButtonMobile:hover {
        background: white;
    }
    .filterButtonMobile:active {
        background: white;
        color: grey !important;
        border: black solid 1px;
        margin-top: 0;
    }
    
    .dropdown-container{
        margin-top: 0;
        margin-bottom: 2.25em;  
      }

      .dropdown-container.mobile {
        display: block;
      }
    
      .dropdown-container form{
        margin-left: 0 em; 
      }
    
    #navMobile > ul {
        margin: 0;
        font-weight: 800;
        font-size: 1.0em;
    }
    
    #navMobile > ul > li {
        display: inline-block;
        font-style: normal;
        margin: 0 0 0 0;
    }

    #results {
        margin-top: 0.5em;
    }

    header.major {
        margin-bottom: 3em;
    }

    .title h3 {
        height: 3.25rem;
        font-size: large;
    }
    
            #navMobile > ul > li > ul {
                display: none;
            }
    
            #navMobile > ul > li > a {
                border-radius: 5px;
                color: #5d5d5d;
                text-decoration: none;
                padding: 0.6em 1.2em 0.6em 1.2em;
                -moz-transition: background-color .25s ease-in-out;
                -webkit-transition: background-color .25s ease-in-out;
                -ms-transition: background-color .25s ease-in-out;
                transition: background-color .25s ease-in-out;
                outline: 0;
            }
    
            #navMobile > ul > li:hover > a, #navMobile > ul > li.active > a {
                background: #ededed;
                color: black;
            }
    
            #navMobile > ul > li.current > a {
                border: 2px solid black;
                background: #fff;
                color: black !important;
                font-weight: 800;
            }
    
    
    .dropotron {
        border-radius: 5px;
        background-color: #252122;
        background-color: rgba(34, 30, 31, 0.98);
        padding: 1.25em 1.5em 1.25em 1.5em;
        font-style: italic;
        min-width: 13em;
        box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.5);
        text-align: left;
        margin-top: -1.25em;
        margin-left: -1px;
    }
    
        .dropotron a, .dropotron span {
            color: #aaa;
            text-decoration: none;
            -moz-transition: color .25s ease-in-out;
            -webkit-transition: color .25s ease-in-out;
            -ms-transition: color .25s ease-in-out;
            transition: color .25s ease-in-out;
        }
    
        .dropotron li {
            padding: 0.25em 0 0.25em 0;
        }
    
            .dropotron li:hover > a, .dropotron li:hover > span {
                color: #fff;
            }
    
        .dropotron.level-0 {
            margin-top: 2em;
        }
    
            .dropotron.level-0:before {
                content: '';
                display: block;
                position: absolute;
                left: 50%;
                margin-left: -10px;
                top: -9px;
                border-left: solid 10px transparent;
                border-right: solid 10px transparent;
                border-bottom: solid 10px #252122;
                border-bottom-color: rgba(34, 30, 31, 0.98);
            }
    

    
        span.psw {
           display: block;
           float: none;
        }
        .cancelbtn {
           width: 100%;
        }
    
        #logo_image {
            width: 90%;
        }
    
        #search1 {
            width: 100%;
            line-height: 1em;
        }

        #searchBuypage {
            width: 100%;
            line-height: 1em;
        }
    
        #search2 {
            width: 16%;
            float: right;
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 0;
            line-height: 1.1em;
        }
    
        #searchHome {
            display: inline-block;
            padding-left: 2em;
            padding-right: 2em;
        }
    
        #search-icon {
            font-size: 1em;
        }
    
        #searchMarket {
            margin-top: 2em;
        }

        section#searchMarketHome {
            margin-top: 1.5em;
            margin-bottom: 0;
        }
        
        section#searchMarketHome .search-container {
            pointer-events: auto;
            opacity: 1;
        }
    
        .loginDiv {
            width: 100%;
            height: 100%;
            border: 0;
        }

        .forgotPassword {
            width: 100%;
            height: 100%;
            border: 0;
        }

        .termsOfService {
            border: 0;
        }

        #banner {
            margin: 1em 0 2em 0 !important;
        }


        .termsOfService {
            width: 100%;
            height: 100%;
        }
        .terms2 {
            width: 50%;
        }

        .filterButtonMobile2 {
            width: 50%;
        }

        .filterMobileClose {
            width: 100%;
            padding: 1em 0 1em 0;
        }
        .filterMobileClose2 {
            width: 100%;
            padding: 1em 0 1em 0;
        }

        .post-info h3 {
            font-size: 1.5em;
        }

        .post-info p {
            margin-bottom: 0;
        }

        .sellTitle {
            padding: 0 1em 1.5em 1em;
        }
        .sellCategory {
            padding: 0 1em 1.5em 1em;
        }

        .sellDescription {
            padding: 0em 1em 0em 1em;
        }

        .sellAccessorySize {
            padding: 0 0 1.5em 0;
        }
        
        .sellAccessoryColor {
            padding: 0 0 0em 0;
        }

        .sellMinBid {
            padding: 0 0 1.5em 0;
        }
        
        .sellBuyitnow {
            padding: 0 0 1.5em 0;
        }
        .sellNewused {
            padding: 0 0 1.5em 0;
        }
        .sellQuality {
            padding: 0 0 1.5em 0;
        }
        .sellBrand {
            padding: 0 0 1.5em 0;
        }
        .nextImages {
            padding-left: 20px;
            padding-right: 20px;
        }
        .sellReset {
            padding-left: 20px;
            padding-right: 20px;
        }

        .discWeight {
            padding: 0 0 1.5em 0;
        }
        
        .discPlastic {
            padding: 0 0 1.5em 0;
        }
        
        .discColor {
            padding: 0 0 1.5em 0;
        }
        .discName {
            padding: 0 0 1.5em 0;
        }
        .discInk {
            padding: 0 0 1.5em 0;
        }
        .bagColor {
            padding: 0 0 1.5em 0;
        }
        .bagModel {
            padding: 0 0 1.5em 0;
        }
        .bagCapacity {
            padding: 0 0 1.5em 0;
        }
        .apparelSize {
            padding: 0 0 1.5em 0;
        }
        .apparelColor {
            padding: 0 0 1.5em 0;
        }
        .apparelMaterial {
            padding: 0 0 1.5em 0;
        }
        .basketModel {
            padding: 0 0 1.5em 0;
        }
        .basketChains {
            padding: 0 0 1.5em 0;
        }
        .basketColor {
            padding: 0 0 1.5em 0;
        }
        .shoeSize {
            padding: 0 0 1.5em 0;
        }
        .shoeColor {
            padding: 0 0 1.5em 0;
        }
        .shoeGender {
            padding: 0 0 1.5em 0;
        }

        #otherBrand {
            padding: 0 0 1.5em 0;
        }

        .sellNewused {
            padding: 0 0 1.5em 0;
        }
        
    }
